@import 'mixins'

:host
  display: block
  width: 100%

.wrapper-products-basket-card
  +flex(center)
  margin: 10px
  flex-wrap: wrap
  border-radius: 16px
  background-color: var(--white-1)
  &.collapsed
    max-height: 80px
    background-color: transparent
    figure
      box-shadow: 0px 42px 44px rgba(120, 146, 141, 0.12)
    .taxes
      display: none
  figure
    +flex(center, center)
    width: 80px
    height: 80px
    flex: 0 0 auto
    overflow: hidden
    margin-right: 10px
    border-radius: 16px
    color: var(--green-3)
    background: var(--white-1)
    img
      width: 100%
  .info
    +flex()
    flex: 1
    .name
      width: 100%
    .values
      +flex(center, space-between)
      .price
        margin-left: auto
      .icons
        +flex()
        margin-left: 10px
        .pen, .check
          cursor: pointer
        .arrow
          cursor: pointer
          margin: 0 10px
    .input-price
      width: 85px
      background-color: transparent
  .taxes
    width: 100%
    list-style: disc
    padding: 10px 0 0 25px

  .grid-tax
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr
    gap: 1px 1px
    grid-template-areas: "tax tax-value"
  .tax
    grid-area: tax
  .tax-value
    grid-area: tax-value
    text-align: end
    padding-right: 10px

