<div class="wrapper-products-basket-card" [ngClass]="{'collapsed': isCollapsed }">
  <figure>
    <ng-container *ngIf="product.url_image; else noImage">
      <img [src]="product.url_image">
    </ng-container>
    <ng-template #noImage>
      <fa-icon [icon]="['fas', 'gift']" [size]="'2x'"></fa-icon>
    </ng-template>
  </figure>
  <div class="info">
    <div class="name">
      {{ product.name }}
      <div class="units">{{ product.quantity }}/u</div>
      <input type="checkbox" [checked]="product.is_free" (change)="onToggleIsFree()">
    </div>
    <div class="values">
      <div class="price" *ngIf="!isEditing; else inputPrice">{{ total | currencyFormat }}</div>
      <ng-template #inputPrice>
        <input  class="input-text input-price" type="text" name="a"
        [value]="product.value" [(ngModel)]="newValue">
      </ng-template>
      <div class="icons">
        <fa-icon
          *ngIf="!isEditing; else check"
          [class]="'pen'"
          [icon]="['fas', 'pen']"
          [size]="'1x'"
          (click)="updateNewProduct(newValue)">
        </fa-icon>
        <ng-template #check>
          <fa-icon
            [class]="'check'"
            [icon]="['fas', 'check']"
            [size]="'1x'"
            (click)="updateNewProduct(newValue)">
          </fa-icon>
        </ng-template>
        <fa-icon
          [class]="'arrow'"
          [icon]="['fas', 'chevron-down']"
          [size]="'1x'"
          (click)="isCollapsed = !isCollapsed">
        </fa-icon>
      </div>
    </div>
  </div>
  <ul class="taxes">
    <li *ngFor="let tax of productTaxes">
      <div class="grid-tax">
        <div class="tax" >
          {{ tax.name }}
        </div>
        <div class="tax-value">
          {{ getTotalTax(tax) | currencyFormat}}
        </div>
      </div>
    </li>
  </ul>
</div>
