<div class="wrapper-products" [ngClass]="{'step-1': stepOne, 'step-2': stepTwo}" *ngIf="basket$ | async as basket">
  <div class="all-products" *ngIf="stepOne; else clientForm">
    <div class="header">
      <h2 class="title">Productos</h2>
      <div class="search">
        <input type="text" id="search-input" class="input-text" placeholder="Busca tu producto">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </div>
    </div>
    <ul class="products">
      <li *ngFor="let product of products$ | async">
        <app-products-card
          [product]="product"
          [basket]="basket"
          (addProduct)="addRemoveProductToBasket('add', $event)"
          (removeProduct)="addRemoveProductToBasket('remove', $event)">
        </app-products-card>
      </li>
    </ul>
  </div>
  <ng-template #clientForm>
    <form class="client-form" [formGroup]="formClient">
      <h3>Datos del cliente</h3>
      <input type="text" class="input-text" formControlName="document" placeholder="NIT o documento de identificación">
      <input type="text" class="input-text" formControlName="name" placeholder="Nombres">
      <input type="email" class="input-text" formControlName="email" placeholder="Email">
      <input type="tel" class="input-text" formControlName="phone" placeholder="Teléfono" pattern="\d*">
      <mat-form-field appearance="fill" style=" margin-bottom: -1.25em">
        <mat-label>Fecha de facturación</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="billingDate" placeholder="Fecha de pago">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" style=" margin-bottom: -1.25em">
        <mat-label>Fecha de pago</mat-label>
        <input matInput [matDatepicker]="pickerPag" formControlName="payDate" placeholder="Fecha de pago">
        <mat-datepicker-toggle matSuffix [for]="pickerPag"></mat-datepicker-toggle>
        <mat-datepicker #pickerPag></mat-datepicker>
      </mat-form-field>
    </form>
  </ng-template>
  <div class="added-products">
    <h3 class="title">Factura</h3>
    <ul class="items">
      <li *ngFor="let product of differentProducts(basket.products)">
        <app-products-basket-card
          [product]="product"
          [basket]="basket"
          [result]="result$ | async"
          [taxes]="taxes$ | async">
        </app-products-basket-card>
      </li>
    </ul>
    <div class="total">
      <div class="title">Total sin impuestos</div>
      <div class="price">
        <span class="text">Total</span>
        <span class="value">{{ total(basket) | currencyFormat }}</span>
      </div>
      <div class="create" (click)="continue(basket)">
        Crear factura
      </div>
    </div>
  </div>
</div>
