<div class="wrapper-products" *ngIf="basket$ | async as basket">
  <div class="all-products">
    <div class="header">
      <h2 class="title">Productos</h2>
      <div class="search">
        <input type="text" id="search-input" class="input-text" placeholder="Busca tu producto">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </div>
    </div>
    <ul class="products">
      <li *ngFor="let product of products$ | async">
        <app-products-card
          [product]="product"
          [basket]="basket"
          (addProduct)="addProductToBasket($event)"
          (removeProduct)="removeProductToBasket($event)">
        </app-products-card>
      </li>
    </ul>
  </div>
  <div class="added-products">
    <h3 class="title">Factura</h3>
    <ul class="items">
      <li *ngFor="let product of differentProducts(basket.products)">
        <app-products-basket-card
          [product]="product"
          [basket]="basket">
        </app-products-basket-card>
      </li>
    </ul>
    <div class="total">
      <div class="title">Total sin impuestos</div>
      <div class="price">
        <span class="text">Total</span>
        <span class="value">{{ total(basket) | currencyFormat }}</span>
      </div>
      <div class="create" [routerLink]="['..', 'bill']">
        Crear factura
      </div>
    </div>
  </div>
</div>
