<div class="wrapper-products-card">
  <figure>
    <img *ngIf="!!product.url_image; else defaultImage" [src]="product.url_image">
    <ng-template #defaultImage>
      <fa-icon [icon]="['fas', 'gift']" [size]="'4x'"></fa-icon>
    </ng-template>
  </figure>
  <div class="name">{{ product.name }}</div>
  <ng-container *ngIf="!hasAddedProduct; else counter">
    <div class="button add" (click)="addProductToBasket()">Agregar</div>
  </ng-container>
  <ng-template #counter>
    <div class="counter">
      <button class="button" [disabled]="!enableRemoveAction" (click)="removeProductToBasket()">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
      <div class="number">
        {{ quantity }}
      </div>
      <button class="button" [disabled]="!enableAddAction" (click)="addProductToBasket()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </ng-template>
  <div class="stock">Disponibles: {{ product.quantity }}</div>
</div>
