<div class="wrapper-products-card">
  <div class="options">
    <span (click)="openStockModal.emit(product)">. . .</span>
  </div>
  <figure>
    <img *ngIf="!!product.url_image; else defaultImage" [src]="product.url_image">
    <ng-template #defaultImage>
      <fa-icon [icon]="['fas', 'gift']" [size]="'4x'"></fa-icon>
    </ng-template>
  </figure>
  <div class="name">{{ product.name }}</div>
  <div class="stock">Código: {{ product.code }}</div>
  <div class="stock">Lote: {{ product.lot }}</div>
  <ng-container *ngIf="isBasket; else options">
    <div class="counter">
      <button class="button" [disabled]="!enableRemoveAction" (click)="removeProductToBasket()">
        <fa-icon [icon]="['fas', 'minus']"></fa-icon>
      </button>
      <div class="number">
        <input type="number" [(ngModel)]="quantity">
      </div>
      <button class="button" [disabled]="!enableAddAction" (click)="addProductToBasket()">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #options>
    <div class="grid-container">
      <div class="button edit" (click)="setProductToEdit.emit(product)">Editar</div>
      <div class="button delete" (click)="openDeleteModal.emit(product)">Borrar</div>
    </div>
  </ng-template>
  <div *ngIf="isBasket" class="stock">Disponibles: {{ product.quantity }}</div>
</div>
