<div class="wrapper-sidebar">
  <div class="icon">
    <strong>ECO</strong>
  </div>
  <ul class="items">
    <li [routerLink]="['products']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
    </li>
    <li [routerLink]="['productsManagement']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    </li>
    <li [routerLink]="['bill']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'apple-alt']"></fa-icon>
    </li>
    <li [routerLink]="['oher']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'apple-alt']"></fa-icon>
    </li>
  </ul>
</div>
