<div class="wrapper-sidebar">
  <div class="icon">
    <strong>ECO</strong>
  </div>
  <ul class="items">
    <li [routerLink]="['products']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'shopping-cart']"></fa-icon>
    </li>
    <li [routerLink]="['productsManagement']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    </li>
    <li [routerLink]="['payment']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'money-bill']"></fa-icon>
    </li>
    <li [routerLink]="['report']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'file-contract']"></fa-icon>
    </li>
    <li [routerLink]="['billManagement']" routerLinkActive="active" >
      <fa-icon [icon]="['fas', 'table']"></fa-icon>
    </li>
  </ul>
</div>


